@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    background: #d0eaec;
}

:root {
    --header-blue: #095D7E;
    --footer-dark-blue: #002737;
    --text-color: #313131;

}

.nav {
    height: 100px;
    width: 100%;
    background-color: var(--header-blue);
    display: flex;
    justify-content: space-around;
}

.nav__logo {
    color: #fff;
    display: flex;
    align-items: center;
}

.nav__header-links {
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navElement{
    opacity: 1;
    
}



.nav__header-links li {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;
    

    &:hover {
        padding-bottom: 2px;
        border-bottom: 2.5px solid white;
        transform: translateY(-2px);
    }
}

.nav__header-links li a {
    color: #fff;
    text-decoration: none;
    transform: translate(0px,0px);
    opacity: 1;
}

.nav__login {
    display: flex;
    align-items: center;
}

.btn {
    width: 212px;
    height: 62px;
    border-radius: 12px;
    border: none;
    background-color: #2A758B;
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
    

    &:hover {
        background-color: #31849d;
    }
}

.landing-page {
    height: calc(100% - 100px);
    max-width: 1202px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content__left {
    width: 587px;
    height: 100%;
    display: flex;
    align-items: center;
}

.left__image {
    height: 515px;
    width: 589px;
    border-radius: 10px;
    background-image: url('images/medical.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.4 ease;
    transform: translate(0px 0px);

}

.content__right {
    width: 486px;
    height: 423px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right__box {
    height: 110.06px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    & i {
        font-size: 40px;
        color: #313131;
    }

    p {
        width: 80%;
        color: #313131;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.right__box--one {
    background-color: rgba(31, 181, 154, 0.25);
}

.right__box--two {
    background-color: rgba(19, 61, 78, 0.25);
}

.right__box--three {
    background-color: rgba(255, 128, 128, 0.25);
}





/* ----------------------------------------Second-Section-starts---------------------------------------------- */





.talk-us {
    background-color: #f1f9ff;
}

section {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.heading {
    height: 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    text-shadow: 3px 2px 0px rgba(49, 49, 49, 0.384);
}

.heading>h1 {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}

.cards {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1202px;
}

.chat-bot-container {
    background: blueviolet;
    width: 30%;
    height: 60%;
    background-image: url("images/bot.jpg");
    background-position: top;
    background-size: auto 85%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.specialist-container {
    background: skyblue;
    width: 30%;
    height: 60%;
    background-image: url("images/special.jpg");
    background-position: top;
    background-size: auto 95%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.box {
    height: 45%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bot-box {
    background-color: #d9d9d9;
}

.specialist-box {
    background-color: #98d5e2;
}

.button {
    outline: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.para {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    width: 90%;
    color: var(--text-color);
}

.bot-button-color {
    background-color: rgba(130, 73, 73, 0.15);
    color: #824949;
}

.spec-button-color {
    color: #095d7e;
    background-color: rgba(9, 93, 126, 0.15);
}

.contact {
    height: 90%;
    background: #d0eaec;
}

.form-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: rgb(255, 255, 255);
    width: 30%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container-box {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-ele {
    outline: none;
    border: none;
    background-color: transparent;
}

/* Input container */
.input-container {
    position: relative;
    /* margin: 20px; */
    width: 75%;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    /* border-bottom: 2px solid #ccc; */
    border-bottom: 2px solid rgba(173, 173, 173, 0.3);
    outline: none;
    background-color: transparent;
}

.message-field {
    padding: 10px 10px 70px 10px !important;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}

input::placeholder {
    font-family: "DM Sans", sans-serif;
}

label {
    font-family: "DM Sans", sans-serif;
}

.submit-button {
    background-color: #095D7E;
    color: white;
}





/* ---------Scroll-Bar----------- */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(169, 169, 169);
}

body::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 6px rgb(0, 0, 0); */
    border-radius: 50px;
    background: var(--header-blue);
}


/* ---------------footer------------- */

.footer {
    height: 568px;
}

.footer__top-section {
    width: 100%;
    height: 446px;
    background-color: rgba(9, 93, 126, 1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Poppins", sans-serif;
}

.top-section__para {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.top-section__social-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 30px;
}

.footer__bottom-section {
    width: 100%;
    height: calc(100% - 446px);
    background-color: rgba(0, 39, 55, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__bottom-section>p {
    color: #fff;
    font-family: "DM Sans", sans-serif;
}



